<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jshir_000.nistbuddy" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lab Wizard"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Index" >
        </activity>
        <activity
            android:name=".ThermocoupleCoeffsActivity"
            android:label="Thermocouple Coefficients" >
        </activity>
        <activity
            android:name=".AtomicWeightsActivity"
            android:label="Atomic Weights" >
        </activity>
        <activity
            android:name=".IonizationEnergiesActivity"
            android:label="Ionization Energies" >
        </activity>
        <activity
            android:name=".constantsButtonActivity"
            android:label="Physical Constants" >
        </activity>
        <activity
            android:name=".CCCBDActivity"
            android:label="Computational Chemistry Data" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="Lab Wizard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThermocoupleVoltagesActivity"
            android:label="Thermoelectric Voltages" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="Help" >
        </activity>
    </application>

</manifest>
